<?xml version='1.0' encoding='UTF-8'?>
<project>
  <description></description>
  <project-properties class="concurrent-hash-map">
    <entry>
      <string>parametersDefinitionProperties</string>
      <copy-write-list-property>
        <originalValue class="hudson.util.CopyOnWriteList">
          <hudson.model.ParametersDefinitionProperty>
            <parameterDefinitions>
              <hudson.model.StringParameterDefinition>
                <name>IDENTITY_DOMAIN</name>
                <description></description>
                <defaultValue>#IDENTITY_DOMAIN#</defaultValue>
              </hudson.model.StringParameterDefinition>
              <hudson.model.StringParameterDefinition>
                <name>OPC_USER</name>
                <description></description>
                <defaultValue>#OPC_USER#</defaultValue>
              </hudson.model.StringParameterDefinition>
              <hudson.model.PasswordParameterDefinition>
                <name>OPC_PASSWORD</name>
                <description></description>
                <defaultValue>WGDnLY/7iB3dqjcE5xN8SR+Wm9R09kg6nE8l/7o23qE=</defaultValue>
              </hudson.model.PasswordParameterDefinition>
              <hudson.model.StringParameterDefinition>
                <name>OPC_SSHKEY</name>
                <description></description>
                <defaultValue>#OPC_SSHKEY#</defaultValue>
              </hudson.model.StringParameterDefinition>
              <hudson.model.StringParameterDefinition>
                <name>COMPUTE_INSTANCE_NAME</name>
                <description>example: mycompute01</description>
                <defaultValue>#COMPUTE_INSTANCE_NAME#</defaultValue>
              </hudson.model.StringParameterDefinition>
              <hudson.model.StringParameterDefinition>
                <name>COMPUTE_CLOUD_ENDPOINT</name>
                <description></description>
                <defaultValue>#COMPUTE_CLOUD_ENDPOINT#</defaultValue>
              </hudson.model.StringParameterDefinition>
              <hudson.model.StringParameterDefinition>
                <name>IMAGE</name>
                <description></description>
                <defaultValue>/oracle/public/OL-6.6-20GB-x11-RD</defaultValue>
              </hudson.model.StringParameterDefinition>
            </parameterDefinitions>
          </hudson.model.ParametersDefinitionProperty>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
      </copy-write-list-property>
    </entry>
    <entry>
      <string>builders</string>
      <describable-list-property>
        <originalValue class="hudson.util.DescribableList">
          <hudson.tasks.Shell>
            <command>set -eu

cat &lt;&lt;EOF &gt; auth.json
{
    &quot;user&quot;:&quot;/Compute-${IDENTITY_DOMAIN}/${OPC_USER}&quot;,
    &quot;password&quot;:&quot;${OPC_PASSWORD}&quot;
}
EOF

HTTP_CODE=`curl -i -X POST \
     -s -o curl.out -w &apos;%{http_code}&apos; --dump-header header.out \
     -H &quot;Content-Type: application/oracle-compute-v3+json&quot; \
     -d &quot;@auth.json&quot; \
        ${COMPUTE_CLOUD_ENDPOINT}/authenticate/`
        
if [ &quot;$HTTP_CODE&quot; -ne &quot;204&quot; ]; then
  cat header.out
  exit 1
fi

sed &quot;s/\r//g&quot;  header.out &gt; header.out.unix
COMPUTE_COOKIE=`cat header.out.unix | grep Set-Cookie | sed -e &quot;s/.*\: //&quot;`
echo &quot;export COMPUTE_COOKIE=&apos;$COMPUTE_COOKIE&apos;&quot; &gt; cookie
cat cookie

</command>
          </hudson.tasks.Shell>
          <hudson.tasks.Shell>
            <command>set -eu

cat &lt;&lt;EOF &gt; launch.json
{
        &quot;instances&quot;:
    [
        {
            &quot;shape&quot;: &quot;oc3&quot;,
            &quot;imagelist&quot;: &quot;${IMAGE}&quot;,
            &quot;sshkeys&quot;: [&quot;/Compute-${IDENTITY_DOMAIN}/${OPC_USER}/${OPC_SSHKEY}&quot;],
            &quot;name&quot;: &quot;/Compute-${IDENTITY_DOMAIN}/${OPC_USER}/${COMPUTE_INSTANCE_NAME}&quot;,
            &quot;label&quot;: &quot;${COMPUTE_INSTANCE_NAME}&quot;
        }
        ]
}
EOF

source ./cookie
HTTP_CODE=`curl -i -X POST \
     -s -o curl.out -w &apos;%{http_code}&apos; --dump-header header.out \
     -H &quot;Cookie: $COMPUTE_COOKIE&quot; \
     -H &quot;Content-Type: application/oracle-compute-v3+json&quot; \
     -H &quot;Accept: application/oracle-compute-v3+json&quot; \
     -d &quot;@launch.json&quot; \
        ${COMPUTE_CLOUD_ENDPOINT}/launchplan/`
        

# Exit with error if not expected HTTP response code
if [ &quot;$HTTP_CODE&quot; -ne 201 ]; then
  echo &quot;ERROR: request was not successful&quot;
  exit 1
fi

cat curl.out</command>
          </hudson.tasks.Shell>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
      </describable-list-property>
    </entry>
    <entry>
      <string>scm</string>
      <scm-property>
        <originalValue class="hudson.scm.NullSCM"/>
        <propertyOverridden>false</propertyOverridden>
      </scm-property>
    </entry>
  </project-properties>
  <keepDependencies>false</keepDependencies>
  <createdBy>lisa.jones</createdBy>
  <creationTime>1476779140248</creationTime>
  <properties/>
  <cascadingChildrenNames class="java.util.concurrent.CopyOnWriteArraySet"/>
  <cascading-job-properties class="java.util.concurrent.CopyOnWriteArraySet"/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <cleanWorkspaceRequired>false</cleanWorkspaceRequired>
  <builders/>
  <publishers/>
  <buildWrappers/>
</project>